[submodule "SecLists"]
	path = SecLists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "cupp"]
	path = cupp
	url = https://github.com/Mebus/cupp.git
[submodule "CeWL"]
	path = CeWL
	url = https://github.com/digininja/CeWL.git
